<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>FIR (Faktury i Rachunki)</title>

    <link rel="stylesheet" href="css/jquery.mobile-1.1.0.min.css" type="text/css" media="screen" title="no title"/>
    <link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="no title">

</head>
<body>

<!-- Start of Main Page -->
<div class="box-horizontal" data-role="page" id="index" data-theme="a">
    <div class="row">
        <div class="span12 center">
            <div class="row">
                <div class="span2 offset3 text-center">
                    <a class="menu-button" href="#invoices" data-transition="none"><img src="img/fa_vat.png" /></a>
                    <a class="menu-button" href="#sales" data-transition="none"><img src="img/sp_detaliczna.png" /></a>
                </div>
                <div class="span2 text-center">
                    <a class="menu-button" href="#contractors" data-transition="none"><img src="img/kontrahenci.png" /></a>
                    <a class="menu-button" href="#warehose" data-transition="none"><img src="img/magazyn.png" /></a>
                </div>
                <div class="span2 text-center-resonse">
                    <a class="menu-button" href="#settings" data-transition="none"><img src="img/konfiguracja.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-role="page" id="invoices">

    <div data-role="header" data-position="fixed">
        <div data-role="header">
            <a href="#index" data-icon="arrow-l" data-transition="none">Powrót</a>
            <h1>Faktury</h1>
        </div>
    </div>
    <div data-role="content" class="ui-content" role="main" data-theme="f">
        <div class="content-primary search-box">
            <ul id="invoiceList" data-role="listview" data-filter="true" data-theme="f" class="ui-listview">
                <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-right ui-li-has-arrow ui-li">
                    <a href="#addInvoice" data-role="button" data-transition="none" data-icon="plus">Dodaj Fakturę</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div data-role="page" id="sales">
    <div data-role="header" data-position="fixed">
        <div data-role="header">
            <a href="#index" data-icon="arrow-l" data-transition="none">Powrót</a>
            <h1>Sprzedaż detaliczna</h1>
        </div>
    </div>
    <div data-role="content" class="ui-content" role="main" data-theme="f">


    </div>
</div>

<div data-role="page" id="contractors">
    <div data-role="header" data-position="fixed">
        <div data-role="header">
            <a href="#index" data-icon="arrow-l" data-transition="none">Powrót</a>
            <h1>Kontrahenci</h1>
        </div>
    </div>
    <div data-role="content" class="ui-content" role="main" data-theme="f">
        <div class="content-primary search-box">
            <ul id="contractorList" data-role="listview" data-filter="true" data-theme="f" class="ui-listview">
                <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-right ui-li-has-arrow ui-li">
                    <a href="#addContractor" data-role="button" data-transition="none" data-icon="plus">Dodaj Kontrachenta</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div data-role="page" id="addContractor">
    <div data-role="header" data-position="fixed">
        <div data-role="header">
            <a href="#contractors" data-icon="arrow-l" data-transition="none">Powrót</a>
            <h1>Nowy Kontrahent</h1>
        </div>
    </div>
    <div data-role="content" class="ui-content" role="main" data-theme="f">
        <form id="contractorForm" action="#addContractorForm" method="POST">
            <div data-role="fieldcontain">
                <label for="name">Nazwa firmy:</label>
                <input type="text" name="name" id="name" value="" placeholder="Nazwa firmy"  />
            </div>
            <div data-role="fieldcontain">
                <label for="name">NIP:</label>
                <input type="text" name="name" id="nip" value="" placeholder="NIP" />
            </div>
            <div data-role="fieldcontain">
                <label for="name">Regon:</label>
                <input type="text" name="regon" value="" placeholder="Regon" />
            </div>
            <div data-role="fieldcontain">
                <label for="name">Imie:</label>
                <input type="text" name="firstname" value="" placeholder="Imię" />
            </div>
            <div data-role="fieldcontain">
                <label for="name">Nazwisko:</label>
                <input type="text" name="lastname" value="" placeholder="Nazwisko" />
            </div>
            <div data-role="fieldcontain">
                <label for="name">Ulica i numer domu:</label>
                <input type="text" name="streetAddress" value="" placeholder="Ulica i numer domu" />
            </div>
            <div data-role="fieldcontain">
                <label for="name">Miasto:</label>
                <input type="text" name="city" value="" placeholder="Miasto" />
            </div>
            <div data-role="fieldcontain">
                <label for="name">Kod pocztowy:</label>
                <input type="text" name="zipCode" value="" placeholder="Kod pocztowy" />
            </div>
            <div data-role="fieldcontain">
                <label for="name">Kraj:</label>
                <input type="text" name="country" value="Polska" placeholder="Kraj"  />
            </div>
            <div data-role="fieldcontain">
                <label for="name">Telefon:</label>
                <input type="text" name="tel" value="" placeholder="Telefon"  />
            </div>
            <div data-role="fieldcontain">
                <label for="name">E-mail:</label>
                <input type="text" name="email"  value="" placeholder="E-mail"  />
            </div>

            <fieldset class="ui-grid-a">
                <div class="ui-block-a"><button type="submit" data-theme="d" data-mini="true">Cancel</button></div>
                <div class="ui-block-b">
                    <input name="submit" type="submit" value="Zapisz" data-theme="a" data-mini="true" />
                </div>
            </fieldset>

        </form>
    </div>
</div>

<div data-role="page" id="warehose">
    <div data-role="header" data-position="fixed">
        <div data-role="header">
            <a href="#index" data-icon="arrow-l" data-transition="none">Powrót</a>
            <h1>Magazyn</h1>
        </div>
    </div>
    <div data-role="content" class="ui-content" role="main" data-theme="f">


    </div>
</div>

<div data-role="page" id="settings">
    <div data-role="header" data-position="fixed">
        <div data-role="header">
            <a href="#index" data-icon="arrow-l" data-transition="none">Powrót</a>
            <h1>Ustawienia</h1>
        </div>
    </div>
    <div data-role="content" class="ui-content" role="main" data-theme="f">


    </div>
</div>

<div data-role="page" id="addInvoice">
    <div data-role="header" data-position="fixed">
        <div data-role="header">
            <a href="#invoices" data-icon="arrow-l" data-transition="none">Powrót</a>
            <h1>Nowa Faktura</h1>
        </div>
    </div>
    <div data-role="content" class="ui-content" role="main" data-theme="f">


    </div>
</div>


<script type="text/template" id="invoice-list-item">
    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-right ui-li-has-arrow ui-li">
        <div class="ui-btn-inner ui-li">
            <div class="ui-btn-text">
                <a href="index.html" class="ui-link-inherit invoice-detalis">
                    <span class="box-start"><%= number %><Br /><%= contractor.name %></span>
                    <span class="box-end"><%= date %><br /><%= priceBrutto %></span>
                </a>
            </div>
            <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
        </div>
    </li>
</script>

<script type="text/template" id="contractor-list-item">
    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-right ui-li-has-arrow ui-li">
        <div class="ui-btn-inner ui-li">
            <div class="ui-btn-text">
                <a href="index.html" class="ui-link-inherit invoice-detalis">
                    <span class="box-start">
                        <span class="normal"><%= nip %></span><Br />
                        <span class="bold"><%= name %></span>
                    </span>
                </a>
            </div>
            <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
        </div>
    </li>
</script>


<script type="text/template" id="formTamplate">
    <form id="own" action="" method="">
        {{fieldsets}}
    </form>
</script>

<script type="text/template" id="formTamplatefieldset">
    {{fields}}
</script>

<script type="text/template" id="formTamplatefield">
    <div data-role="fieldcontain">
        <label for="name">{{title}}></label>
        <input type="text" name="{{title}}" value="{{title}}" placeholder="{{title}}" />
        <div class="bbf-editor bbf-editor{{type}}">{{editor}}</div>\
        <div class="bbf-help">{{help}}</div>
    </div>
</script>


<script type="text/javascript" charset="utf-8" src="js/lib/cordova-1.6.1.js"></script>
<script type="text/javascript" charset="utf-8" src="js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/lib/jquery.mobile-1.1.0.min.js"></script>

<script type="text/javascript" charset="utf-8" src="js/lib/underscore-min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/lib/backbone-min.js"></script>

<script type="text/javascript" charset="utf-8" src="js/lib/backbone-forms.js"></script>
<script type="text/javascript" charset="utf-8" src="js/lib/jquery-ui-editors.js"></script>


<script type="text/javascript" charset="utf-8" src="js/fir/fir-core.js"></script>
<script type="text/javascript" charset="utf-8" src="js/fir/fir-model.js"></script>
<script type="text/javascript" charset="utf-8" src="js/fir/fir-view.js"></script>
<script type="text/javascript" charset="utf-8" src="js/fir/fir-controller.js"></script>

<script src="http://debug.phonegap.com/target/target-script-min.js#asdluki"></script>

<script type="text/javascript">

    jQuery(document).ready(function() {

        var templates = {
            form : $('#formTamplate').html(),
            fieldset: $('#formTamplatefieldset').html(),
            field : $('#formTamplatefield').html()
        };
        //console.log(templates);
        Backbone.Form.setTemplates(templates);


        var router = new FIR.routers();
        Backbone.history.start();

        document.addEventListener('deviceready', function () {
            try{

                //FIR.run("init");
                //FIR.run(FIR.consts.CONTROLLER, "invoice", "init", ["aparam"]);
            }catch(e){
                alert("catch " + e);
            }
        }, false);
    });

</script>

</body>
</html>